<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hades.foxtube.dao.UserDao">
    <resultMap id="userResultMap" type="User">
        <result property="videoCount" column="video_count"/>
    </resultMap>

    <select id="getUserByName" parameterType="String" resultMap="userResultMap">
        SELECT *
        FROM users
        WHERE username = #{username}
    </select>

    <select id="getUserById" parameterType="Long" resultMap="userResultMap">
        SELECT *
        FROM users
        WHERE id = #{id}
    </select>

    <select id="getUserByEmail" parameterType="String" resultMap="userResultMap">
        SELECT *
        FROM users
        WHERE email = #{email}
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (password, username, email, avatar, profile, video_count)
        VALUES (#{password}, #{username}, #{email}, #{avatar}, #{profile}, #{videoCount})
    </insert>
</mapper>
