<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hades.foxtube.dao.VideoDao">
    <resultMap id="videoResultMap" type="Video">
        <result property="authorId" column="author_id"/>
        <result property="publishedAt" column="published_at"/>
    </resultMap>

    <select id="getVideos" resultMap="videoResultMap">
        SELECT *
        FROM videos
        <if test="authorId != null">
            WHERE author_id = #{authorId}
        </if>
        ORDER BY published_at DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <insert id="insertVideo" parameterType="Video" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO videos (title, cover, url, description, author_id, published_at)
        VALUES (#{title}, #{cover}, #{url}, #{description}, #{authorId}, #{publishedAt})
    </insert>

    <select id="getVideoCount" resultType="Long">
        SELECT COUNT(*)
        FROM videos
        <if test="authorId != null">
            WHERE author_id = #{authorId}
        </if>
    </select>

    <select id="getVideo" resultMap="videoResultMap">
        SELECT *
        FROM videos
        WHERE id = #{id}
    </select>
</mapper>
